@font-face {
    font-family: 'Invaders';
    src: url('./styles/fonts/space-invaders-extended.ttf'); 
}
@font-face {
    font-family: 'Invaders-img';
    src: url('./styles/fonts/invaders.ttf'); 
}
html {
    height: 100%;    
}

body {
    height: 100%;   
    font-size: 24px;
    font-family: 'Invaders';
    overflow: hidden;
}

/* Main containter with bg */
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    background-color: #000000;
    /* background-image: url("../images/bg.png"); */
    /* background-image: url("../images/bg-taito.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% auto; */
}

/* Lamp effect inside the screen */
.container:after {
    content: " ";
    width: 1000px;
    height: 100%;
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;

    background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,0.45) 6%, rgba(0,0,0,0.15) 21%, rgba(100,118,127,0.1) 29%, rgba(162,192,206,0.07) 50%, rgba(87,103,111,0.1) 71%, rgba(0,0,0,0.15) 79%, rgba(0,0,0,0.45) 94%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.45) 6%, rgba(0,0,0,0.15) 21%, rgba(100,118,127,0.1) 29%, rgba(162,192,206,0.07) 50%, rgba(87,103,111,0.1) 71%, rgba(0,0,0,0.15) 79%, rgba(0,0,0,0.45) 94%);
    background: linear-gradient(90deg, rgba(0,0,0,0.45) 6%, rgba(0,0,0,0.15) 21%, rgba(100,118,127,0.1) 29%, rgba(162,192,206,0.07) 50%, rgba(87,103,111,0.1) 71%, rgba(0,0,0,0.15) 79%, rgba(0,0,0,0.45) 94%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.frame-image {
    position: absolute;
    /* left: 0; */
    top: 0;
    margin: 0 auto;
    z-index: 3;
    width: auto;
    max-width: 1920px;
    height: 100%;
    max-height: 100vh;
}

.bg-image {
    position: absolute;
    /* left: 0; */
    top: 0;
    margin: 0 auto;
    z-index: 3;
    width: auto;
    max-width: 1920px;
    height: 100%;
    max-height: 100vh;
    z-index: 0;
}

.screen {
    display: flex;
    position: relative;
    z-index: 3;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    /* width: 36%; */
    width: 740px;
    height: 100vh;
    position: relative;
    color: rgb(178, 236, 255);
    text-shadow: 3px 0px 15px rgba(0,250,255,1);
}

.screen__scores {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 20%;
}

.screen__cl-score {
    display: flex;
    white-space: nowrap;
    gap: 3vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.screen__main {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: left;
    left: 50%;
    transform: translateX(-50%);
    gap: 4vh;
    width: 82%;
    height: 62%;
    font-family: 'Invaders-img';
}

.main__info {
    display: flex;
    position: relative;
    width: 100%;
    left: 50%;
    font-size: 20px;
    line-height: 64px;
    transform: translate(-25%,25%);
    text-align: center;
    font-family: 'Invaders';
}

.main__info--second {
    align-items: flex-start;
    display: none;
    width: 600px;
    gap: 4vh;
    flex-direction: column;
    text-align: left;
    visibility: hidden;
    font-family: 'Invaders';
    justify-content: center;
    align-items: center;
}

.main__info--disabled {
    animation-name: text-disappear;
    animation-duration: 0.20s;
    opacity: 0;
}

#trd-line {
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    align-items: center;
}

.icon-invader {
    font-family: 'Invaders-img';
}
.main__info--enabled {
    animation-name: text-appear;
    animation-duration: 0.4s;
    width: 50%;
}

.screen__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    font-size: 24px;
}

.screen__lives, 
.screen__credits {
    width: 50%;
    text-align: center;
}
.screen__lives {
    opacity: 0;
}

.lives__num {
    font-size: 30px;
}

.lives__font {
    font-family: 'Invaders-img';
    font-size: 60px;
    /* text-shadow: 3px 0px 15px rgba(0,250,255,1); */
    color: rgb(110, 215, 168);
}

.screen__lives--enabled {
    animation-name: smooth-enable;
    animation-duration: 0.4s;
    opacity: 1;
}

.game {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.game_over {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 60px;
    color: red;
    width: 600px;
    top: 20%;
    bottom: 0;
    font-family: 'Invaders';
    text-align: center;
}
.game_over--span {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 30px;
    color: red;
    width: 600px;
    top: 0%;
    bottom: 0;
    font-family: 'Invaders';
    text-align: center;
    line-height: 48px;
}

.game_level {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 60px;
    color: green;
    width: 600px;
    top: 20%;
    bottom: 0;
    font-family: 'Invaders';
    text-align: center;
}

/* Invader item I */
.invader {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 9%;
    width: 44px;
    text-align: center;
}

.invader-boss {
    position: absolute;
    font-size: 36px;
    color: violet;
    text-align: center;
    text-shadow: 3px 0px 15px rgb(234, 87, 224);
}

/* Player 1 */

.player {
    display: flex;
    align-items: center;
    position: absolute;
    color: rgb(110, 215, 168);
    width: 46px;
    height: 36px;
}

/* Missile */

.missile {
    position: absolute;
    color: rgb(110, 215, 168);
    margin-left: 0.75vw;
}

/* Missile Invader */

.missile-invader {
    position: absolute;
    color: rgb(110, 215, 168);
    margin-left: 0.75vw;
}

/* Animation */

@keyframes smooth-enable {
    0% {opacity: 0;}
    100% {opactity: 1;}
}

@keyframes text-appear {
    0% {width: 0;}
    100% {width: 100%;}
    /* 0% {opacity: 0;}
    100% {opactity: 1;} */
}

@keyframes text-disappear {
    0% {opacity: 0;}
    100% {opactity: 1;}
}

.blinking {

}

.no-info {
    display: none;
    visibility: hidden;
}

@media only screen and (max-height: 600px) {
    .container {
        display: none;
    }
    .no-info {
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: visible;
    }
    .no-info:before {
        background-color: #000000;
        content: " ";
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .no-info:after {
        content: "The minimum height is 600px";
        color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 36px;
        line-height: 54px;
        z-index: 15;
    }
}

@media only screen and (max-width: 1024px)  {
    .container {
        display: none;
    }
    .no-info {
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: visible;
    }
    .no-info:before {
        background-color: #000000;
        content: " ";
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .no-info:after {
        content: "The minimum dimension for the game is 1024px (width)";
        color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 36px;
        line-height: 54px;
        z-index: 15;
    }
}